# [PROTOTYPE] - API Examples for Python Scientists

## Introduction

Welcome to the [Python package](https://github.com/GlobalFishingWatch/gfw-api-python-client) for accessing data from [Global Fishing Watch APIs](https://globalfishingwatch.org/our-apis/documentation#introduction). The [gfw-api-python-client](https://github.com/GlobalFishingWatch/gfw-api-python-client) is a simple wrapper for the Global Fishing Watch (GFW) APIs. It provides convenient functions to freely pull GFW data.

Our APIs provide software instructions that enable automatic connection of our data and products to other systems so users can easily download and integrate our datasets, code, and models to power their own platforms. By providing streamlined access to information on apparent fishing vessel activity, identity and history, we are helping create solutions for a resilient, sustainable ocean.

Global Fishing Watch APIs are available for noncommercial use only in accordance with the [CC BY-NC 4.0 license](https://creativecommons.org/licenses/by-nc/4.0/) including complying with the attribution requirements set forth in Section 3 below. To see more details, please visit our [Terms of Use](https://globalfishingwatch.org/our-apis/documentation#terms-of-use). They are used by researchers, governments, technology companies, etc.

We combine tracking data from the publicly available automatic identification system (AIS) and integrate that with information acquired through vessel monitoring systems that are operated by governments and made available to us through partnerships that we secure. Both AIS and VMS combine global positioning with a transmitter to regularly broadcast vessel location.

## Import libraries

In [1]:
import datetime
import os
import logging

import gfwapiclient as gfw

## Instantiate GFW API client

In [2]:
api_base_url = os.getenv("GFW_API_BASE_URL")
api_access_token = os.getenv("GFW_API_ACCESS_TOKEN")

client = gfw.Client(
    api_base_url=api_base_url,
    api_access_token=api_access_token
)

## Map Visualization - 4Wings API

[4Wings API (aka Map Visualization)](https://globalfishingwatch.org/our-apis/documentation#map-visualization-4wings-api) allows you to get fast visualisation, navigation and analysis for gridded spatiotemporal datasets. You can:

- visualize apparent fishing effort or SAR vessel detections in png or mvt format
- generate a report for apparent fishing effort data and for SAR (Synthetic-aperture radar) vessel detections.

### Import necessary data types

In [3]:
from gfwapiclient.resources.fourwings.report.models.request import (
    FourWingsReportDataset,
    FourWingsReportGroupBy,
    FourWingsReportRegion,
    FourWingsReportSpatialResolution,
    FourWingsReportTemporalResolution,
)

### Create a report of a specified region

Generate a report for apparent fishing effort data and for SAR (Synthetic-aperture radar) vessel detections.

#### Define request parameters

In [4]:
spatial_resolution = FourWingsReportSpatialResolution.HIGH
group_by = FourWingsReportGroupBy.VESSEL_ID
temporal_resolution = FourWingsReportTemporalResolution.DAILY
datasets = [
    FourWingsReportDataset.FISHING_EFFORT_LATEST,
    FourWingsReportDataset.SAR_PRESENCE_LATEST,
]
filters = None
date_range = "2022-01-01,2022-01-15"  # TODO: use start_date, end_date
spatial_aggregation = None
geojson = None
region = FourWingsReportRegion(dataset="public-eez-areas", id="8371")

#### Generate report

In [5]:
wings_report = await client.fourwings.aget_report(
    spatial_resolution=spatial_resolution,
    group_by=group_by,
    temporal_resolution=temporal_resolution,
    datasets=datasets,
    filters=filters,
    date_range=date_range,
    spatial_aggregation=spatial_aggregation,
    geojson=geojson,
    region=region,
)

In [6]:
wings_report_df = wings_report.df()

In [7]:
wings_report_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5890 entries, 0 to 5889
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     5890 non-null   object
 1   detections               161 non-null    float64
 2   flag                     5890 non-null   object
 3   gear_type                5890 non-null   object
 4   hours                    5729 non-null   float64
 5   vessel_ids               0 non-null      object
 6   vessel_id                5890 non-null   object
 7   vessel_type              5890 non-null   object
 8   entry_timestamp          5890 non-null   datetime64[ns, UTC]
 9   exit_timestamp           5890 non-null   datetime64[ns, UTC]
 10  first_transmission_date  5814 non-null   datetime64[ns, UTC]
 11  last_transmission_date   5814 non-null   datetime64[ns, UTC]
 12  imo                      5890 non-null   object
 13  mmsi                     5890 non-null   object
 14  call_sign                5890 non-null   object
 15  dataset                  5890 non-null   object
 16  report_dataset           5890 non-null   object
 17  ship_name                5890 non-null   object
 18  lat                      5890 non-null   float64
 19  lon                      5890 non-null   float64
dtypes: datetime64[ns, UTC](4), float64(4), object(12)
memory usage: 920.4+ KB

In [8]:
wings_report_df.head()

,date,detections,flag,gear_type,hours,vessel_ids,vessel_id,vessel_type,entry_timestamp,exit_timestamp,first_transmission_date,last_transmission_date,imo,mmsi,call_sign,dataset,report_dataset,ship_name,lat,lon
0,2022-01-02,NaN,SEN,TRAWLERS,0.976397,None,f665e55f9-9a12-dc04-170b-60b9df00432a,FISHING,2022-01-01 07:00:00+00:00,2022-01-14 23:00:00+00:00,2020-03-07 11:07:54+00:00,2022-11-13 14:16:18+00:00,,663111111,,public-global-vessel-identity:v3.0,public-global-fishing-effort:v3.0,LAGHEM 1,15.79,-16.969999
1,2022-01-02,NaN,SEN,TRAWLERS,2.040278,None,7bfa4e72a-aa54-4aae-0aa6-145fc83a25bb,FISHING,2022-01-01 00:00:00+00:00,2022-01-14 23:00:00+00:00,2017-03-31 09:03:45+00:00,2025-03-04 23:59:39+00:00,,663180000,6WHX; :,public-global-vessel-identity:v3.0,public-global-fishing-effort:v3.0,F/V NATA,12.57,-17.459999
2,2022-01-10,NaN,SEN,TRAWLERS,0.951111,None,bb99899f2-2ca5-8d00-11e4-95b25552cd65,FISHING,2022-01-01 00:00:00+00:00,2022-01-14 23:00:00+00:00,2020-10-28 11:26:06+00:00,2025-03-04 23:59:12+00:00,,663173000,6WLX,public-global-vessel-identity:v3.0,public-global-fishing-effort:v3.0,PERE YANNICK,14.01,-17.020000
3,2022-01-05,NaN,SEN,TRAWLERS,0.889042,None,36d3cd4c0-0901-e0f8-4f7b-f8c0e630c60d,FISHING,2022-01-01 06:00:00+00:00,2022-01-14 21:00:00+00:00,2018-09-08 17:24:26+00:00,2025-03-04 23:58:10+00:00,,663138000,6WLE,public-global-vessel-identity:v3.0,public-global-fishing-effort:v3.0,SOFIA,15.90,-16.990000
4,2022-01-06,NaN,SEN,TRAWLERS,1.174375,None,0e0369b43-36c3-f0a8-adda-370f600ed334,FISHING,2022-01-01 00:00:00+00:00,2022-01-12 17:00:00+00:00,2016-02-04 15:32:18+00:00,2025-02-28 08:56:48+00:00,,663146000,6WLM,public-global-vessel-identity:v3.0,public-global-fishing-effort:v3.0,F/V AUDREY-,12.49,-17.430000

## Vessels API

[Vessels API](https://globalfishingwatch.org/our-apis/documentation#vessels-api) allows you to search for vessels and get vessel identity details. This API combines Global Fishing Watch (GFW) core AIS identity data with GFW registry database to enable an improved understanding of vessel identity over time.

You can:

- Search for AIS and across over 40 public international, regional and national vessel registries. Check list of sources in the [reference data section](https://globalfishingwatch.org/our-apis/documentation#vessel-api-registry-codes-data-sources)
- Get identity details based on AIS self reported data or public registries. Check more detail about data caveats [here](https://globalfishingwatch.org/our-apis/documentation#data-caveat).

### Import necessary data types

In [9]:
from gfwapiclient.resources.vessels.base.enums import VesselDataset

### Search vessels

#### Define request parameters

In [10]:
datasets = [VesselDataset.VESSEL_IDENTITY_LATEST]
query = "775998121"
where = 'ssvid="775998121" AND shipname="DON TITO"'

#### Search vessels

In [11]:
search_vessels = await client.vessels.asearch_vessels(query=query, datasets=datasets)

In [12]:
search_vessels_df = search_vessels.df()

In [13]:
search_vessels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dataset                         4 non-null      object
 1   registry_info_total_records     4 non-null      int64
 2   registry_info                   4 non-null      object
 3   registry_owners                 4 non-null      object
 4   registry_public_authorizations  4 non-null      object
 5   combined_sources_info           4 non-null      object
 6   self_reported_info              4 non-null      object
 7   matchCriteria                   4 non-null      object
dtypes: int64(1), object(7)
memory usage: 388.0+ bytes

In [14]:
search_vessels_df.head()

,dataset,registry_info_total_records,registry_info,registry_owners,registry_public_authorizations,combined_sources_info,self_reported_info,matchCriteria
0,public-global-vessel-identity:v3.0,0,[],[],[],[{'vessel_id': 'c54923e64-46f3-9338-9dcb-ff097...,[{'id': 'c54923e64-46f3-9338-9dcb-ff09724077a3...,[{'reference': 'c54923e64-46f3-9338-9dcb-ff097...
1,public-global-vessel-identity:v3.0,0,[],[],[],[{'vessel_id': 'bae8f325c-cf0a-01fe-6d1a-9a275...,[{'id': 'bae8f325c-cf0a-01fe-6d1a-9a275588d4ff...,[{'reference': 'bae8f325c-cf0a-01fe-6d1a-9a275...
2,public-global-vessel-identity:v3.0,0,[],[],[],[{'vessel_id': 'df9e79a94-41ce-0e6b-282d-d0278...,[{'id': 'df9e79a94-41ce-0e6b-282d-d0278f43ef2c...,[{'reference': 'df9e79a94-41ce-0e6b-282d-d0278...
3,public-global-vessel-identity:v3.0,0,[],[],[],[{'vessel_id': '6d613afcf-f9a2-e758-8ece-2dec5...,[{'id': '6d613afcf-f9a2-e758-8ece-2dec5b98012c...,[{'reference': '6d613afcf-f9a2-e758-8ece-2dec5...

### Get list of vessels filtered by ids

#### Define request parameters

In [15]:
datasets = [VesselDataset.VESSEL_IDENTITY_LATEST]
ids = ["8c7304226-6c71-edbe-0b63-c246734b3c01"]

#### Get list of vessels by their ids

In [16]:
get_vessels = await client.vessels.aget_vessels(ids=ids, datasets=datasets)

In [17]:
get_vessels_df = get_vessels.df()

In [18]:
get_vessels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dataset                         1 non-null      object
 1   registry_info_total_records     1 non-null      int64
 2   registry_info                   1 non-null      object
 3   registry_owners                 1 non-null      object
 4   registry_public_authorizations  1 non-null      object
 5   combined_sources_info           1 non-null      object
 6   self_reported_info              1 non-null      object
dtypes: int64(1), object(6)
memory usage: 188.0+ bytes

In [19]:
get_vessels_df.head()

,dataset,registry_info_total_records,registry_info,registry_owners,registry_public_authorizations,combined_sources_info,self_reported_info
0,public-global-vessel-identity:v3.0,2,"[{'id': 'a8d00ce54b37add7f85a35fcce8e7a1b', 's...",[],"[{'date_from': 2023-01-01 00:00:00+00:00, 'dat...",[{'vessel_id': 'da1cd7e1b-b8d0-539c-6581-2b3df...,[{'id': 'da1cd7e1b-b8d0-539c-6581-2b3df8d0a6af...

### Get vessel by id

#### Define request parameters

In [20]:
dataset = VesselDataset.VESSEL_IDENTITY_LATEST
id = "8c7304226-6c71-edbe-0b63-c246734b3c01"

#### Get a vessel by its id

In [21]:
vessel = await client.vessels.aget_vessel(id=id, dataset=dataset)

In [22]:
vessel_df = vessel.df()

In [23]:
vessel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   dataset                         1 non-null      object
 1   registry_info_total_records     1 non-null      int64
 2   registry_info                   1 non-null      object
 3   registry_owners                 1 non-null      object
 4   registry_public_authorizations  1 non-null      object
 5   combined_sources_info           1 non-null      object
 6   self_reported_info              1 non-null      object
dtypes: int64(1), object(6)
memory usage: 188.0+ bytes

In [24]:
vessel_df.head()

,dataset,registry_info_total_records,registry_info,registry_owners,registry_public_authorizations,combined_sources_info,self_reported_info
0,public-global-vessel-identity:v3.0,5,"[{'id': 'a8d00ce54b37add7f85a35fcce8e7a1b', 's...",[],"[{'date_from': 2023-01-01 00:00:00+00:00, 'dat...",[{'vessel_id': 'da1cd7e1b-b8d0-539c-6581-2b3df...,[{'id': 'da1cd7e1b-b8d0-539c-6581-2b3df8d0a6af...

## Events API

[Events API](https://globalfishingwatch.org/our-apis/documentation#events-api) allows you to explore different activities of a vessel. You can analyze:

- apparent fishing events
- encounters between these vessel types: fishing-carrier, fishing-support, fishing-bunker, fishing-fishing, tanker-fishing, carrier-bunker and support-banker.
- loitering for all vessel types
- port visits for all vessel types
- AIS off (aka GAPs) for all vessel types

Check more detail about data caveats [here](https://globalfishingwatch.org/our-apis/documentation#data-caveat).

### Import necessary data types

In [25]:
from gfwapiclient.resources.events.base.enums import EventDataset

### Get All Events

#### Define request parameters

In [26]:
datasets = [EventDataset.FISHING_EVENTS_LATEST]
start_date = datetime.date.fromisoformat("2017-01-01")
end_date = datetime.date.fromisoformat("2017-01-31")
limit = 1
offset = 0

#### Get all events

In [27]:
events = await client.events.aget_events(
    datasets=datasets,
    start_date=start_date,
    end_date=end_date,
    limit=limit,
    offset=offset,
)

In [28]:
events_df = events.df()

In [29]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   start         1 non-null      datetime64[ns, UTC]
 1   end           1 non-null      datetime64[ns, UTC]
 2   id            1 non-null      object
 3   type          1 non-null      object
 4   position      1 non-null      object
 5   regions       1 non-null      object
 6   bounding_box  1 non-null      object
 7   distances     1 non-null      object
 8   vessel        1 non-null      object
 9   encounter     0 non-null      object
 10  fishing       1 non-null      object
 11  gap           0 non-null      object
 12  loitering     0 non-null      object
 13  port_visit    0 non-null      object
dtypes: datetime64[ns, UTC](2), object(12)
memory usage: 244.0+ bytes

In [30]:
events_df.head()

,start,end,id,type,position,regions,bounding_box,distances,vessel,encounter,fishing,gap,loitering,port_visit
0,2016-12-17 20:57:49+00:00,2017-01-04 17:27:01+00:00,3ca9b73aee21fbf278a636709e0f8f03,fishing,"{'lat': 54.9204, 'lon': -5.5465}","{'mpa': ['555624876', '555786438', '555786428'...","[-5.3292866667, 54.775575, -5.943021666699991,...","{'start_distance_from_shore_km': 14.0, 'end_di...",{'id': '126570026-6217-2a10-f383-a42f66f78ea7'...,None,"{'total_distance_km': 1442.4600248679237, 'ave...",None,None,None

### Get one by Event ID

#### Define request parameters

In [31]:
id = "3ca9b73aee21fbf278a636709e0f8f03"
dataset = EventDataset.FISHING_EVENTS_LATEST

#### Get event by ID

In [32]:
event = await client.events.aget_event(id=id, dataset=dataset)

In [33]:
event_df = event.df()

In [34]:
event_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   start         1 non-null      datetime64[ns, UTC]
 1   end           1 non-null      datetime64[ns, UTC]
 2   id            1 non-null      object
 3   type          1 non-null      object
 4   position      1 non-null      object
 5   regions       1 non-null      object
 6   bounding_box  1 non-null      object
 7   distances     1 non-null      object
 8   vessel        1 non-null      object
 9   encounter     0 non-null      object
 10  fishing       1 non-null      object
 11  gap           0 non-null      object
 12  loitering     0 non-null      object
 13  port_visit    0 non-null      object
dtypes: datetime64[ns, UTC](2), object(12)
memory usage: 244.0+ bytes

In [35]:
event_df.head()

,start,end,id,type,position,regions,bounding_box,distances,vessel,encounter,fishing,gap,loitering,port_visit
0,2016-12-17 20:57:49+00:00,2017-01-04 17:27:01+00:00,3ca9b73aee21fbf278a636709e0f8f03,fishing,"{'lat': 54.9204, 'lon': -5.5465}","{'mpa': ['555624876', '555786438', '555786428'...","[-5.3292866667, 54.775575, -5.943021666699991,...","{'start_distance_from_shore_km': 14.0, 'end_di...",{'id': '126570026-6217-2a10-f383-a42f66f78ea7'...,None,"{'total_distance_km': 1442.4600248679237, 'ave...",None,None,None

### Statistics on events

Get events statistics worldwide or for a specific region.

#### Define request parameters

In [36]:
datasets = [EventDataset.FISHING_EVENTS_LATEST]
start_date = datetime.date.fromisoformat("2018-01-01")
end_date = datetime.date.fromisoformat("2023-01-31")

#### Get event statistics

In [37]:
event_stats = await client.events.aget_event_stats(
    datasets=datasets,
    start_date=start_date,
    end_date=end_date,
)

In [38]:
event_stats_df = event_stats.df(exclude={"flags"})

In [39]:
event_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   num_events   1 non-null      int64
 1   num_flags    1 non-null      int64
 2   num_vessels  1 non-null      int64
 3   timeseries   1 non-null      object
dtypes: int64(3), object(1)
memory usage: 164.0+ bytes

In [40]:
event_stats_df.head()

,num_events,num_flags,num_vessels,timeseries
0,27628441,228,290857,"[{'date': 2018-01-01 00:00:00+00:00, 'value': ..."

## Insights API

The [Insights API](https://globalfishingwatch.org/our-apis/documentation#insights-api) is a set of indicators or `vessel insights` that bring together important information on a vessel's known activity (based on AIS), vessel identity information and public authorizations. The objective of the insights is to support risk-based decision-making, operational planning, and other due diligence activities by making it easier for a user to identify vessel characteristics that can indicate an increased potential or opportunity for a vessel to engage in IUU (Illegal, Unreported, or Unregulated) fishing.

### Insights by vessels

This endpoint allow to get vessel insights for one or several vessels

#### Import necessary data types

In [41]:
from gfwapiclient.resources.insights.models.request import (
    VesselInsightIdBody,
    VesselInsightInclude,
)

#### Define request parameters

In [42]:
start_date = datetime.date.fromisoformat("2020-01-01")
end_date = datetime.date.fromisoformat("2025-03-03")

vessels = [
    VesselInsightIdBody(
        dataset_id="public-global-vessel-identity:latest",
        vessel_id="2d26aa452-2d4f-4cae-2ec4-377f85e88dcb",
    ),
]

#### Get any apparent fishing insights of vessels

In [43]:
includes = [
    VesselInsightInclude.FISHING,
]

In [44]:
fishing_insights = await client.insights.aget_vessel_insights(
    includes=includes,
    start_date=start_date,
    end_date=end_date,
    vessels=vessels,
)

In [45]:
fishing_insights_df = fishing_insights.df()

In [46]:
fishing_insights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   period                       1 non-null      object
 1   vessel_ids_without_identity  0 non-null      object
 2   gap                          0 non-null      object
 3   coverage                     0 non-null      object
 4   apparent_fishing             1 non-null      object
 5   vessel_identity              0 non-null      object
dtypes: object(6)
memory usage: 180.0+ bytes

In [47]:
fishing_insights_df.head()

,period,vessel_ids_without_identity,gap,coverage,apparent_fishing,vessel_identity
0,"{'start_date': 2020-01-01, 'end_date': 2025-03...",None,None,None,{'datasets': ['public-global-fishing-events:v3...,None

#### Get being present on an RFMO IUU vessel list insights of vessels

In [48]:
includes = [
    VesselInsightInclude.VESSEL_IDENTITY_IUU_VESSEL_LIST,
]

In [49]:
iuu_insights = await client.insights.aget_vessel_insights(
    includes=includes,
    start_date=start_date,
    end_date=end_date,
    vessels=vessels,
)

In [50]:
iuu_insights_df = iuu_insights.df()

In [51]:
iuu_insights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   period                       1 non-null      object
 1   vessel_ids_without_identity  0 non-null      object
 2   gap                          0 non-null      object
 3   coverage                     0 non-null      object
 4   apparent_fishing             0 non-null      object
 5   vessel_identity              1 non-null      object
dtypes: object(6)
memory usage: 180.0+ bytes

In [52]:
iuu_insights_df.head()

,period,vessel_ids_without_identity,gap,coverage,apparent_fishing,vessel_identity
0,"{'start_date': 2020-01-01, 'end_date': 2025-03...",None,None,None,None,{'datasets': ['public-global-vessel-identity:v...

#### Get AIS off insights of vessels

In [53]:
includes = [
    VesselInsightInclude.GAP,
]

In [54]:
gap_insights = await client.insights.aget_vessel_insights(
    includes=includes,
    start_date=start_date,
    end_date=end_date,
    vessels=vessels,
)

In [55]:
gap_insights_df = gap_insights.df()

In [56]:
gap_insights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   period                       1 non-null      object
 1   vessel_ids_without_identity  0 non-null      object
 2   gap                          1 non-null      object
 3   coverage                     0 non-null      object
 4   apparent_fishing             0 non-null      object
 5   vessel_identity              0 non-null      object
dtypes: object(6)
memory usage: 180.0+ bytes

In [57]:
gap_insights_df.head()

,period,vessel_ids_without_identity,gap,coverage,apparent_fishing,vessel_identity
0,"{'start_date': 2020-01-01, 'end_date': 2025-03...",None,{'datasets': ['public-global-gaps-events:v3.0'...,None,None,None

#### Get AIS coverage metric insights of vessels

In [58]:
includes = [
    VesselInsightInclude.COVERAGE,
]

In [59]:
coverage_insights = await client.insights.aget_vessel_insights(
    includes=includes,
    start_date=start_date,
    end_date=end_date,
    vessels=vessels,
)

In [60]:
coverage_insights_df = coverage_insights.df()

In [61]:
coverage_insights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   period                       1 non-null      object
 1   vessel_ids_without_identity  0 non-null      object
 2   gap                          0 non-null      object
 3   coverage                     1 non-null      object
 4   apparent_fishing             0 non-null      object
 5   vessel_identity              0 non-null      object
dtypes: object(6)
memory usage: 180.0+ bytes

In [62]:
coverage_insights_df.head()

,period,vessel_ids_without_identity,gap,coverage,apparent_fishing,vessel_identity
0,"{'start_date': 2020-01-01, 'end_date': 2025-03...",None,None,"{'blocks': 4599, 'blocks_with_positions': 4044...",None,None

#### Get all insights of vessels

In [63]:
includes = [
    VesselInsightInclude.GAP,
    VesselInsightInclude.COVERAGE,
    VesselInsightInclude.FISHING,
    VesselInsightInclude.VESSEL_IDENTITY_IUU_VESSEL_LIST,
]

In [64]:
all_insights = await client.insights.aget_vessel_insights(
    includes=includes,
    start_date=start_date,
    end_date=end_date,
    vessels=vessels,
)

In [65]:
all_insights_df = all_insights.df()

In [66]:
all_insights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   period                       1 non-null      object
 1   vessel_ids_without_identity  0 non-null      object
 2   gap                          1 non-null      object
 3   coverage                     1 non-null      object
 4   apparent_fishing             1 non-null      object
 5   vessel_identity              1 non-null      object
dtypes: object(6)
memory usage: 180.0+ bytes

In [67]:
all_insights_df.head()

,period,vessel_ids_without_identity,gap,coverage,apparent_fishing,vessel_identity
0,"{'start_date': 2020-01-01, 'end_date': 2025-03...",None,{'datasets': ['public-global-gaps-events:v3.0'...,"{'blocks': 4599, 'blocks_with_positions': 4044...",{'datasets': ['public-global-fishing-events:v3...,{'datasets': ['public-global-vessel-identity:v...

## Reference Data API

### Regions

The `Events API` and `4Wings API - Report` uses regions ids. In order to get the details of those regions, call the endpoints described below.

#### Get list of Exclusive economic zones (EEZs)

In [68]:
eez_regions = await client.references.aget_eez_regions()

In [69]:
eez_regions_df = eez_regions.df()

In [70]:
eez_regions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       281 non-null    float64
 1   label    282 non-null    object
 2   iso3     282 non-null    object
 3   dataset  282 non-null    object
dtypes: float64(1), object(3)
memory usage: 8.9+ KB

In [71]:
eez_regions_df.head()

,id,label,iso3,dataset
0,5675.0,Estonia,EST,public-eez-areas
1,48944.0,Mayotte,FRA,public-eez-areas
2,50170.0,Overlapping claim Qatar / Saudi Arabia / Unite...,QAT,public-eez-areas
3,8475.0,Cameroon,CMR,public-eez-areas
4,5676.0,Finland,FIN,public-eez-areas

#### Get list of Marine protected areas (MPAs)

In [72]:
mpa_regions = await client.references.aget_mpa_regions()

In [73]:
mpa_regions_df = mpa_regions.df()

In [74]:
mpa_regions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16611 entries, 0 to 16610
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       16611 non-null  object
 1   label    16611 non-null  object
 2   name     16611 non-null  object
 3   dataset  16611 non-null  object
dtypes: object(4)
memory usage: 519.2+ KB

In [75]:
mpa_regions_df.head()

,id,label,name,dataset
0,1,Diamond Reef and Salt Fish Tail Reef - Marine ...,Diamond Reef and Salt Fish Tail Reef,public-mpa-all
1,2,Palaster Reef - Marine Reserve,Palaster Reef,public-mpa-all
2,27,Folkstone - Marine Reserve,Folkstone,public-mpa-all
3,46,Reserva Biológica Atol Das Rocas - Reserva Bio...,Reserva Biológica Atol Das Rocas,public-mpa-all
4,57,Parque Nacional Do Cabo Orange - Parque,Parque Nacional Do Cabo Orange,public-mpa-all

#### Get list of Regional fisheries management organization (RFMO)

In [76]:
rfmo_regions = await client.references.aget_rfmo_regions()

In [77]:
rfmo_regions_df = rfmo_regions.df()

In [78]:
rfmo_regions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       42 non-null     object
 1   label    42 non-null     object
 2   rfb      35 non-null     object
 3   dataset  42 non-null     object
dtypes: object(4)
memory usage: 1.4+ KB

In [79]:
rfmo_regions_df.head()

         id     label       rfb      dataset
0      ACAP      ACAP      ACAP  public-rfmo
1     APFIC     APFIC     APFIC  public-rfmo
2  BOBP-IGO  BOBP-IGO  BOBP-IGO  public-rfmo
3   CACFISH   CACFISH   CACFISH  public-rfmo
4    CCAMLR    CCAMLR    CCAMLR  public-rfmo